# Exploratory Data Analysis â€“ Fish Dataset

## Project Goal
The goal of this analysis is to explore the relationship between physical measurements of fish and their weight, and to assess whether a simple linear regression model can describe this relationship.

## Dataset
### Dataset Description

The Fish dataset contains measurements of 159 individual fish from seven different species.  
Each observation represents a single fish and includes both categorical and numerical variables.

The categorical variable `Species` identifies the fish species, while the numerical variables describe physical characteristics such as weight, multiple length measurements, height, and width. All measurements are continuous and recorded in consistent units.

The dataset is well suited for exploratory data analysis, as it allows for the investigation of differences between species as well as the relationship between physical dimensions and fish weight.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf

In [3]:
df = pd.read_csv("../data/raw/Fish.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

### Dataset Overview

The dataset contains 159 observations and 7 variables.  
There is one categorical variable (`Species`) and six numerical variables describing fish measurements (`Weight`, three length measures, `Height`, and `Width`).  
All variables have complete data with no missing values.

In [4]:
df.describe()

            Weight     Length1     Length2     Length3      Height       Width
count   159.000000  159.000000  159.000000  159.000000  159.000000  159.000000
mean    398.326415   26.247170   28.415723   31.227044    8.970994    4.417486
std     357.978317    9.996441   10.716328   11.610246    4.286208    1.685804
min       0.000000    7.500000    8.400000    8.800000    1.728400    1.047600
25%     120.000000   19.050000   21.000000   23.150000    5.944800    3.385650
50%     273.000000   25.200000   27.300000   29.400000    7.786000    4.248500
75%     650.000000   32.700000   35.500000   39.650000   12.365900    5.584500
max    1650.000000   59.000000   63.400000   68.000000   18.957000    8.142000

The descriptive statistics reveal one unusual observation: the minimum recorded fish weight is 0. 
Since a weight of zero is not physically plausible, this value likely represents a data entry or measurement issue. 
At this stage, the observation is retained and documented, and its potential impact is considered during interpretation.

In [5]:
df[df["Weight"] == 0]

   Species  Weight  Length1  Length2  Length3  Height   Width
40   Roach     0.0     19.0     20.5     22.8  6.4752  3.3516